
@font-face {
    font-family: Exo-Light;
    src: url(http://resource.local/samples/singlepage/fonts/Exo-Light.ttf) format("truetype");

}

@font-face {
    font-family: Exo-Bold;
    src: url(http://resource.local/samples/singlepage/fonts/Exo-Medium.ttf) format('truetype')

}

body{
	background-color:white;
	color:white;
	padding: 0px;
	margin: 0px;
	font-family: "Exo-Light","Times New Roman", Georgia, Serif;	
	font-size: 14px;
}

/*top starts at 50 menu height*/


/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   	
   	position: absolute;
   	width: 100%;
   	z-index: 10;
}

.nav{
	/*box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);*/
	box-shadow: 0 0 10px rgba(0,0,0,1);
	height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/*TODO: preprocess .page with less or sass*/
.component{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	 box-sizing: border-box; 
}

.mainContent{
 	top:50px;
 	position: absolute;
}

.bodyText{
	font-size: 14px;
}

a{
	color:lightgrey;
}


.page{	
	width:100%;
	height:100%;
	padding: 1rem;
	overflow:hidden;
	min-height:300px;
}

.page1{
	background-color:#1abc9c;
}

.aboutMe{
	background-color:white;
	color:lightgrey;
	font-size: 40px;
	text-align: center;
	padding: 30px;
}
.page2{
	background-color:white;
	color:grey;
}

.page3{
	background-color:red;
	padding: 0px;
	margin: 0px;
}

.page4{
	background-color:#e74c3c;
}

.page5{
	background-color:#2c3e50;
}

.subPage{
	width:100%;
	height:100%;
	min-height:150px;
	overflow:auto;
	padding: 1rem;
}

.subPage1{
	background-color:#3498db;
}

.subPage2{
	background-color:#2ecc71;
}

.subPage3{
	background-color:#f1c40f;
}


.rightFloat{
	position: relative;
	float: right;
}

.leftFloat{
	position: relative;
	float: left;
}

.gallery{
	text-align: center;
}

.container{
	overflow:hidden;
	padding: 10px;
}

.iconBox{
	width: 70px;
	height:60px;
	border: 2px solid white;
	border-radius:6px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	float: right;
	margin: 5px;
	font: Century Gothic;
}

.iconDoubleBox{
	width: 110px;
	margin: 5px;
	word-wrap:no;
}

.iconLongBox{
	width: 150px;
	margin: 5px;
	word-wrap:no;
}


.skills{	
	text-align: center;
	font-size: 20px;
	float: right;
	padding: 10px;
	font: Century Gothic;
	/*word-spacing: 20px;*/
}

img{
	border-radius: 0px;
	max-width: 200px;

}

.slideImg{
	display: block; 
  	max-height:95px;
  	width: auto;
 	height: auto;
 	max-height:200px;
}

.extraLargeFont{
	font-size: 50px;
}

.largeFont{
	font-size: 25px;
}

.hello{
	left: 50px;
	top:50px;
}


.myFontBold{
	font-family: "Exo-Bold","Times New Roman", Georgia, Serif;	
}

.introduce{
	padding: 2px;
    margin: 0px;
    line-height: 0%;
}

.helloText{
	padding: 0px;
    margin: 0px;
    line-height: 80%;   
}

